@media all and (max-width: 600px) {
.menu, #drop {
    display: none;
}
label {
    cursor: pointer;
}
#drop:checked + .menu {
    display: block;
    position: absolute;
    right: 0; top: 7%;
    z-index: 1;
    width: 25%;
    height: 90%;
}
.menu li {
    padding-top: 20%;
    margin-right: 5%;
    justify-content: center;
    position: relative;
    top: 8%
}
.burger {
    display: flex;
    float: right;
    width: 7%;
    width: 7%;
    padding-top: 3%;
}
.selected {
    text-decoration: underline;
}
.menu ul {
    padding-top: 15%;
}
.portrait {
    position: relative;
    top: 5%;
    width: 70%;
    height: 30%;
    margin: 15% 5% 0% 15% ;
}
.presentation {
    margin-left: 5%;
}

}