body {
    background-color: rgb(255, 255, 255); 
}
h2 {
    color: rgb(87, 40, 175);
}
p {
    color:rgb(37, 128, 202);
}
ul {
    color: rgb(37, 128, 202);
}
.presentation li {
    padding-right: 20%;
}
a {
    color: rgba(170, 126, 212);
    text-decoration: none;
}
.presentation {
    position: absolute;
    right: 1%; top: 15%;
    margin-right: 5%;
    margin-top: 10%;
    padding-left: 3%;
}
.portrait {
    width: 45%;
    height: 45%;
    float: left;
    margin-top: 3%;
    margin-left: 5%;
}
