body {
    background-color: black;
}

h1 {
    color: white;
}

p {
    color:white
}
ul {
    color: white;
    list-style-type: disc;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav {
    height: 20%;
    width: 100%;
    margin: 0% 0% 3% 3%;
    width: 90%;
}

a {
    color: whitesmoke;
    text-decoration: none;
}
.presentation {
    
    
}