body a {
	color: rgb(162, 135, 211);
}
a:hover {
	color: rgb(198, 160, 236);
}
p {
	color: rgb(37, 128, 202);
}
body {
	align-content: center;
	width: 100%;
	height: auto;
	background-color: rgb(255, 255, 255);
}
h2, h3 {
	font-size: 1em;
	margin-left: 17%;
	width: 100%;
	text-decoration: underline;
	font-family: Arial;
	font-style: italic;
	color: rgb(87, 40, 175);
}
header h2 {
	padding-left: 5px;
}
section {
	width: auto;
	height: auto;
	text-align: justify;
	font-size: 1em;
	padding-right: 15px;
	padding-top: 1%;
}
section	h2 {
	font-size: 1.2em;
	margin-left: 105px;
	color: rgb(87, 40, 175);
}
section div {
	display: flex;
}
.date {
	width: 11%;
	text-decoration: underline;
	margin-left: 10%;
	height: 25px;
	color:rgb(55, 105, 199);
}
.text {
	width: 90%;
	margin-left: 1%;
	color: rgb(37, 128, 202);
}

#profil {
	margin-bottom: 1%;
}
#profil p {
	margin-right: 0.1%;
	padding-left: 0.1%;
}
section p {
	font-family: 'Times New Roman';
}
article {
	margin-right: 3%;
	margin-left: 3%;
}
#exppro, #etudes {
	margin-right: 300px;
}
