@media all and (max-width: 600px) {
    .menu ul {
        padding-top: 10%;
    }
    header
    {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: flex-start;
        padding-right: 5%;
        margin-left: -2%;
    }
    header li
    {
        margin-right: auto;
    }
    #body_page
    {
        width: auto;
        height: auto;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    body
    {
        align-content: center;
        margin: 5px 20px 5px 5px;
        width: auto;
        height: auto;
    }
    h2 {
        font-size: 1em;
        text-decoration: underline;
        font-family: Arial;
        font-style: italic;
    }
    .title {
        font-size: 1em;
        text-decoration: underline;
    }
    header h1 {
        text-align: center;
        font-size: 1.2em;
        font-family: 'Georgia Serif', Arial;
    }
    header div {
        text-align: left;
    }
    section	h2 {
        font-size: 1em;
        margin-left: 20%;
    }
    .date {
        width: 20%;
        text-decoration: underline;
        margin-left: 15px;
        font-size: 0.9em;
    }
    .text {
        width: 80%;
        margin-right: -10%;
        padding-left: 2%;
    }
    #profil p {
        margin-right: 15px;
        padding-left: 15px;
        font-size: 0.8em;
    }
    section p {
        font-family: 'Times New Roman';
    }
    article {
        margin-right: 0px;
        margin-left: 0px;
    }
    #exppro {
        margin-right: 0px;
    }
    #etudes {
        margin-right: 0px;
    }
    #infos {
        margin-right: auto;
    }
    .jauge {
        display: flex;
        float: right;
        align-items: center;
    }
}